
.idea/CP2 Data Analysis.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/scratch-checkpoint.ipynb
.idea/git_toolbox_prj.xml
.idea
pyrightconfig.json
df2.csv
demo2.csv
